 /* a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } */

* {
    overscroll-behavior: none;
}

html, body, footer {
  margin: 0px;
  padding: 0px;
}

.smallFont {
    font-size: .75rem;
}

.watchItem {
    height: 115px;
    width: 80px;
}

.hoverBlue{
    color: #343a40;
}

.hoverBlue:hover {
    color: #007bff;
    cursor: pointer;
}

.sectionTitle{
    /* font-size: 3rem; */
    font-weight: 600;
    letter-spacing: -1px;
}

.buyBtn {
    background: #006ee3;
    border-radius: 60px;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 5px 18px;
    text-decoration: none;
  }

  .buyBtn:hover {
    background: #0080ff;
    border-color: #0080ff;
    text-decoration: none;
  }

  .butnOutline {
    border-radius: 60px;
    margin: 6px 0px 10px;
    padding: 5px 18px;
  }

  .buyBtnSm {
    background: #006ee3;
    border-radius: 60px;
    font-family: Arial;
    font-size: .75rem;
    font-weight: 500;
    margin: 10px 0px;
    padding: 3px 13px;
    text-decoration: none;
  }

 .watchColor{
    border: solid, 1px;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 35px 0px 15px;
    width: 10px;
}

.card p {
  font-size: .9rem;
  margin: 5px 0px;
  width: 100%;
}

.me-6 {
  margin-right: 5rem;
}

.rainbowBtn {
  padding: 9px 22px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 25px;
  z-index: 1;
  background: linear-gradient(to right, yellow, orange, red, indigo, blue, green); 
}

.rainbowBtn::before {
  background-color: white;
  border-radius: 25px;
  content: "Create your style";
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  padding-top: 5px;
  position: absolute;
}

.rainbowBtn:hover{
  color: #006ee3;
  cursor: pointer;
}

.rainbowBtn:hover::before{
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
}

.moveLeft{
  transform: translateX(-260px); 
  transition: transform 3s;
}

.moveLeft:hover{
  transform: translateX(-580px);
}













